body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #E0E1DD;
  margin: 0;
  padding: 0;
}

/* Global Container */
.show-car-container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border: 2px solid #415A77; /* Light border */
}

/* Content Layout */
.content-show {
  display: flex;
  align-items: flex-start;
  border-bottom: 2px solid #1B263B; /* Border for separation */
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.img-show {
  flex: 1;
  margin-right: 20px;
}

.pic {
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.info-show {
  flex: 2;
}

.car-name {
  font-size: 26px;
  color: #1B263B;
  margin-bottom: 10px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #1B263B, #415A77);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  background-color: white;
  margin-left: 2rem
}

.car-category, .car-price, .car-brand, .car-owner {
  font-size: 18px;
  color: #34495e;
  margin: 5px 0;
}

hr {
  margin: 20px 0;
  border: 1px solid #778DA9; /* Light border */
}

.booking-new {
  margin-top: 20px;
  padding: 20px;
  background-color: #F5F7FA;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 15px;
  font-size: 22px;
  color: #1B263B;
  text-align: center; /* Centered heading */
}

.form-group {
  margin-bottom: 15px;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #34495e;
}

.date-picker, .duration-input {
  width: 100%;
  padding: 10px;
  border: 2px solid #415A77;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.date-picker:focus, .duration-input:focus {
  border-color: #1B263B;
}

.btn-book {
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  background-color: #415A77;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-book:hover {
  background-color: #1B263B;
}
