.navbar-lewagon {
  justify-content: space-between;
  background: lightblue;
  height: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


.navbar-lewagon .navbar-brand img {
  height: 44px;
  font-size: 40px;
    width: 44px;
    border-radius: 50%;
    margin: 1rem;
}

.navbar-lewagon .container-fluid{
  margin: 0px;
  padding: 0px;
}
