.navbar-lewagon {
  justify-content: space-between;
  background: lightblue;
  height: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


.navbar-lewagon .navbar-brand img {
  height: 50px;
}

.navbar-lewagon .container-fluid{
  margin: 0px;
  padding: 0px;
}
